#container-add-game {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

#container-button-add-game {
  border: 2px solid #564d4d;
  width: 148px;
  padding: 0.2em 1em;
  border-radius: 15px;
  margin: auto;
  background-color: black;
}

.link-add-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-add-game {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.no-margin {
  margin: 0;
}
