.icons-navbar {
  width: 50px;
}

.container-navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  transition: bottom 0.4s;
  background-color: black;
  padding-top: 0.6em;
}

.container-navbar div {
  text-align: center;
  z-index: 20;
  float: left;
  display: block;
}
.container-navbar p {
  margin-bottom: 0;
}
