* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black !important;
  color: white !important;
}

.App {
  padding: 20px;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

/* HOMEPAGE */
.carousel-item {
  height: 172.5px;
  overflow: hidden;
}

/* SEARCH PAGE */
#container-search-buttons {
  display: flex;
}

.div-year-genre {
  width: 50%;
}

.year-and-genre {
  width: 100%;
  border-radius: 10px;
  height: 6vh;
  padding: 0.5em;
}

.platform-input {
  width: 100%;
  border-radius: 10px;
  height: 6vh;
  padding: 0.5em;
}

.platform-input-selected {
  color: red;
}

.image-games-homepage {
  width: 100px;
  height: 200px;
}

.container-all-games {
  height: 250px;
  margin: 1em 0;
  border: 1px solid;
  border-radius: 15px;
  overflow: hidden;
}

.each-game {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MY PROFILE*/
.container-my-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 150px;
  border: 2px solid;
  margin-top: 1rem;
}

.separation-line {
  width: 90%;
  border: 1px solid white;
  margin: 1em;
}

.logout-link {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0;
  background-color: transparent;
  border: none;
}

.logout-icon {
  width: 40px;
}

#buttons-my-profile {
  display: flex;
}

.buttons-my-profile {
  padding: 5px 0px;
  width: 100px;
  border-radius: 3px;
  margin: 0 7px;
}
